 

 <!DOCTYPE html>
 <html> 
      <head>
          <style>
               .encl {
         min-width:100px;
         margin-left:15px;
         margin-right:15px;
       }
 

.notification {
    width: calc(100% - 40px); /* Subtract margins to fit within the viewport */
     background-color: #e74c3c; /* Red background for error */
    color: white; /* White text color */ 
    box-sizing:border-box;
    position: fixed;
    z-index:100;
    margin-top:20px; 
    padding:15px;
    border-radius: 5px; 
    display:none;
    animation:fadein 1.1s 1; 
}  
 

@keyframes fadein {
    from {
        opacity: 0; /* Start completely transparent */
    }
    to {
        opacity: 1; /* End fully opaque */
    }
}



#cancel-button {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */ 
    border:2px solid white;
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor */ 
    top: 10px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
}
          </style>
      </head>
    <body>    
        <div class="encl">
            <div id="error-notification" class="notification">
                <p id="error-message"></p> <br>
                <button id="cancel-button">Cancel</button>
            </div>
            </div> 
</body>
 </html>
   