    
    <!-- Topbar Start -->
    <div style="z-index:5; position:fixed; top:0; left:0; right:0; background-color:white;" class="container-fluid"  id="topbar">
        <div style="background-color:white" class="row py-2 px-xl-5"> 
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a style="font-size:20px;" class="text-dark px-2" href="">
                        <i  class="fab fa-facebook-f"></i>
                    </a>  
                    <a  style="font-size:20px" class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a> 
                </div>
            </div>
        </div> 
    
    
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 style="font-family: 'Orbitron', sans-serif; font-style: normal; font-size:23px; margin-top:5px" class="m-0 display-5 font-weight-semi-bold">UNIQUE FASHION</h1>
                </a>
            </div> 
    
            <div class="col-lg-6 col-6 text-left">
                <form id="searchproduct">
                    <div class="input-group">  
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i style="padding-left:4px; padding-right:4px; padding-top:4px; padding-bottom:4px; background-color:#008080; color:#fff" class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div> 
    
            <div class="col-lg-3 col-6 text-right">
                <a href="/wishlist" class="btn border">  
                    <% if(user){ %>  
                  <i style="color:#008080;" class="fas fa-heart" id="wishl"></i>  
                  <span class="badge" id="wishlp"><%=mwl%></span>
                    <% } else { %> 
                    <i style="color:#008080;" class="fas fa-heart"></i>  
                    <span class="badge">0</span>
                     <% } %> 
                </a>
                <a href="/carts" class="btn border">   
                             <% if(user){ %>  
                        <i style="color:#008080;" class="fas fa-shopping-cart" id="ucart"></i>
                        <span class="badge" id="cartlp"><%=mct%></span> 
                          <% } else { %> 
                            <i style="color:#008080;" class="fas fa-shopping-cart" id="ucart"></i>
                            <span class="badge">0</span> 
                           <% } %>  
                  </a>
            </div>
        </div>
    </div>  <br><br><br><br>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px; background-color:#008080">
                    <h6 style="color:#fff" class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-white"></i>
                </a>

                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Dresses <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Men's Dresses</a>
                                <a href="" class="dropdown-item">Women's Dresses</a>
                                <a href="" class="dropdown-item">Baby's Dresses</a>
                            </div>
                        </div>
                        <a href="" class="nav-item nav-link">Shirts</a>
                        <a href="" class="nav-item nav-link">Jeans</a>
                        <a href="" class="nav-item nav-link">Swimwear</a>
                        <a href="" class="nav-item nav-link">Sleepwear</a>
                        <a href="" class="nav-item nav-link">Sportswear</a> 
                        <a href="" class="nav-item nav-link">Shoes</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="/products" class="text-decoration-none d-block d-lg-none">
                        <h1 style="font-family: 'Orbitron', sans-serif; font-style: normal; font-size:23px; margin-top:5px" class="m-0 display-5 font-weight-semi-bold">UNIQUE FASHION</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="/products" class="nav-item nav-link">Shop</a> 
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/carts" class="dropdown-item">Shopping Cart</a>
                                    <a href="/wishlist" class="dropdown-item">Wishlist</a>
                                </div>
                            </div>
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <% if(user && user.role == 'admin') { %> 
                                <a href="/admin-control-product" class="nav-item nav-link">upload Product</a> 
                                <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                           <% } else if(user) { %> 
                            <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                           <% } else { %> 
                                <a href="/login" class="nav-item nav-link">Login</a>
                                <a href="/signup" class="nav-item nav-link">Register</a>
                            <% } %>
                        </div>
                    </div>
                </nav> 
            </div>
        </div>
    </div>
    <!-- Navbar End -->